.btn {
  padding: 1em;
  border-radius: 4px;
  font-size: 0.8em;
  background-color: transparent;
  color: var(--color);
  border-color: var(--color);
  cursor: pointer;
}

.btn--selected {
  background-color: var(--active);
  border-color: var(--accent);
}

.btn--full-width {
  width: 100%;
}
