.btn {
  padding: 1em;
  border-radius: 4px;
  font-size: 0.8em;
  background-color: transparent;
  color: var(--color);
  border-color: var(--color);
}

.btn + .btn {
  margin-left: 1em;
}

.btn--selected {
  background-color: var(--active);
  border-color: var(--accent);
}
