table {
  background-color: var(--maze-background-color);
  border-collapse: collapse;
  margin-top: 1em;
  width: 100%;
}

td {
  border: 2px solid var(--maze-wall-color);
  width: 20px;
  height: 20px;
}
